*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    flex-direction: column;
}

.header{
  width: 100%;
  padding: 1rem;
  position: sticky;
  top: 0;
  padding: 0.5rem;
  background: #ffffff;
}
.div__contenedor{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.ul__opciones{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}
.ul__opciones li{
  list-style: none;
}
.ul__opciones li a{
  letter-spacing: 5px;
  font-size: 1rem;
  text-decoration: none;
}
  .h3 {
  color: black

  }